# =========================
# Frontend node_modules
# =========================
node_modules/

# =========================
# Frontend environment variables
# =========================
.env.local

# =========================
# Next.js build folder
# =========================
.next/

